.ui.menu {
  border-radius: 0% !important;
}
.ui.inverted.menu {
  background-color: #5a6175 !important;
}
.ui.inverted.icon.menu .item {
  color: #d6dbe8 !important;
}
.ui.inverted.icon.menu .item:hover {
  background-color: #8d95ac !important;
  color: #363d52 !important;
}

.ui.icon.menu .item {
  text-align: left !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

hr {
  border-top: 0px;
  border-color: #747b8e;
}

.sidebar-acordian {
  z-index: 1;
  margin-top: 48px !important;
  background-color: #5a6175;
  padding-top: 20px;
}

.sidebar-item-icon {
  display: inline-block;
  vertical-align: middle;
  align-content: center;
}

.sidebar-item-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
