.edit-maps-container {
  text-align: left;
}

.edit-map-item {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 0px 0px 1px 0px;
  border-color: #ececec;
  border-style: solid;
  padding: 13px 16px;
}

.edit-map-container {
}

.edit-map-title {
  color: #788198;
  background-color: #ebedf2;
  padding: 12px 14px;
  font-family: 'Roboto';
  font-weight: bold !important;
}

.edit-map-region-select {
  margin: 16px;
}

.edit-map-region-select-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 9px;
}
